In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

Monthly deforestation notices

In [2]:
amazonas_monthly_deforestation_df = pd.read_csv('deter_amazonas_deforestation_2015_2024.csv', delimiter=',')
amazonas_monthly_deforestation_df

     year  month    area  uf        className  numPol
0    2021      7    1.11  AM        MINERACAO      14
1    2015      8    1.96  AM        MINERACAO      15
2    2021      9    2.16  AM        MINERACAO      14
3    2024      1    0.64  AM        MINERACAO       6
4    2024     10    0.09  AM        MINERACAO       1
..    ...    ...     ...  ..              ...     ...
262  2024     10   22.74  AM  DESMATAMENTO_CR     134
263  2018      7  128.39  AM  DESMATAMENTO_CR     591
264  2018      1    6.65  AM  DESMATAMENTO_CR      30
265  2024      8   92.14  AM  DESMATAMENTO_CR     424
266  2019      5  167.28  AM  DESMATAMENTO_CR     309

[267 rows x 6 columns]

In [3]:
amazonas_monthly_deforestation_df.rename(columns={'year': 'YEAR_NOTIF', 'month': 'MONTH_NOTIF', 'area': 'Amazonas_Total_Def_Area_km2', 'uf': 'UF'}, inplace=True)
amazonas_monthly_deforestation_df['Amazonas_Total_Def_Area_ha'] = amazonas_monthly_deforestation_df['Amazonas_Total_Def_Area_km2']*100
amazonas_monthly_deforestation_df

,YEAR_NOTIF,MONTH_NOTIF,Amazonas_Total_Def_Area_km2,UF,className,numPol,Amazonas_Total_Def_Area_ha
0,2021,7,1.11,AM,MINERACAO,14,111.0
1,2015,8,1.96,AM,MINERACAO,15,196.0
2,2021,9,2.16,AM,MINERACAO,14,216.0
3,2024,1,0.64,AM,MINERACAO,6,64.0
4,2024,10,0.09,AM,MINERACAO,1,9.0
...,...,...,...,...,...,...,...
262,2024,10,22.74,AM,DESMATAMENTO_CR,134,2274.0
263,2018,7,128.39,AM,DESMATAMENTO_CR,591,12839.0
264,2018,1,6.65,AM,DESMATAMENTO_CR,30,665.0
265,2024,8,92.14,AM,DESMATAMENTO_CR,424,9214.0
266,2019,5,167.28,AM,DESMATAMENTO_CR,309,16728.0

In [4]:
amazonas_monthly_deforestation_df = amazonas_monthly_deforestation_df[(2017 <= amazonas_monthly_deforestation_df.get('YEAR_NOTIF')) &
                                                                      (amazonas_monthly_deforestation_df.get('YEAR_NOTIF') <= 2021)]
amazonas_monthly_deforestation_df = amazonas_monthly_deforestation_df.sort_values(['YEAR_NOTIF', 'MONTH_NOTIF'])
#amazonas_monthly_deforestation_df = amazonas_monthly_deforestation_df.sort_values('MONTH_NOTIF')
amazonas_monthly_deforestation_df

,YEAR_NOTIF,MONTH_NOTIF,Amazonas_Total_Def_Area_km2,UF,className,numPol,Amazonas_Total_Def_Area_ha
176,2017,1,8.57,AM,DESMATAMENTO_CR,30,857.0
167,2017,2,3.90,AM,DESMATAMENTO_CR,24,390.0
160,2017,3,1.27,AM,DESMATAMENTO_CR,5,127.0
185,2017,4,18.18,AM,DESMATAMENTO_CR,28,1818.0
33,2017,5,0.23,AM,MINERACAO,2,23.0
...,...,...,...,...,...,...,...
147,2021,10,0.45,AM,DESMATAMENTO_VEG,1,45.0
212,2021,10,113.19,AM,DESMATAMENTO_CR,472,11319.0
209,2021,11,9.60,AM,DESMATAMENTO_CR,59,960.0
23,2021,12,0.18,AM,MINERACAO,2,18.0
207,2021,12,6.25,AM,DESMATAMENTO_CR,29,625.0

In [5]:
grouped_amazonas_monthly_deforestation_df = amazonas_monthly_deforestation_df.groupby(['YEAR_NOTIF', 'MONTH_NOTIF']).sum().reset_index()
grouped_amazonas_monthly_deforestation_df

,YEAR_NOTIF,MONTH_NOTIF,Amazonas_Total_Def_Area_km2,numPol,Amazonas_Total_Def_Area_ha
0,2017,1,8.57,30,857.0
1,2017,2,3.90,24,390.0
2,2017,3,1.27,5,127.0
3,2017,4,18.18,28,1818.0
4,2017,5,74.31,175,7431.0
5,2017,6,187.25,515,18725.0
6,2017,7,80.31,268,8031.0
7,2017,8,49.16,189,4916.0
8,2017,9,20.56,85,2056.0
9,2017,10,69.78,283,6978.0
10,2017,11,23.24,139,2324.0
11,2017,12,12.85,110,1285.0
12,2018,1,7.70,37,770.0
13,2018,2,0.18,2,18.0
14,2018,3,39.69,98,3969.0
15,2018,4,92.20,216,9220.0
16,2018,5,126.09,342,12609.0
17,2018,6,91.48,375,9148.0
18,2018,7,134.73,647,13473.0
19,2018,8,93.23,600,9323.0
20,2018,9,160.86,760,16086.0
21,2018,10,70.71,313,7071.0
22,2018,11,18.10,92,1810.0
23,2018,12,0.23,3,23.0
24,2019,1,8.19,63,819.0
25,2019,2,12.53,49,1253.0
26,2019,3,47.19,123,4719.0
27,2019,4,45.98,129,4598.0
28,2019,5,179.44,372,17944.0
29,2019,6,194.77,548,19477.0
30,2019,7,424.28,1551,42428.0
31,2019,8,197.17,1121,19717.0
32,2019,9,174.73,948,17473.0
33,2019,10,42.12,248,4212.0
34,2019,11,23.40,138,2340.0
35,2019,12,7.58,57,758.0
36,2020,1,13.44,116,1344.0
37,2020,2,20.73,98,2073.0
38,2020,3,72.71,157,7271.0
39,2020,4,77.46,167,7746.0
40,2020,5,183.45,512,18345.0
41,2020,6,173.47,943,17347.0
42,2020,7,286.41,1519,28641.0
43,2020,8,220.16,1596,22016.0
44,2020,9,117.38,695,11738.0
45,2020,10,88.79,518,8879.0
46,2020,11,21.88,106,2188.0
47,2020,12,6.00,35,600.0
48,2021,1,5.86,24,586.0
49,2021,2,25.81,102,2581.0
50,2021,3,61.41,100,6141.0
51,2021,4,174.41,345,17441.0
52,2021,5,347.52,1137,34752.0
53,2021,6,219.77,1036,21977.0
54,2021,7,432.52,2289,43252.0
55,2021,8,202.46,1198,20246.0
56,2021,9,229.33,1147,22933.0
57,2021,10,116.27,496,11627.0
58,2021,11,9.60,59,960.0
59,2021,12,6.43,31,643.0

In [6]:
grouped_manaus_monthly_deforestation_df = grouped_amazonas_monthly_deforestation_df.assign(Manaus_Total_Def_Area_km2 = 
                                                                                          grouped_amazonas_monthly_deforestation_df.get('Amazonas_Total_Def_Area_km2')*2.917/100)

grouped_manaus_monthly_deforestation_df = grouped_manaus_monthly_deforestation_df.assign(Manaus_Total_Def_Area_ha = 
                                                                                          grouped_amazonas_monthly_deforestation_df.get('Amazonas_Total_Def_Area_ha')*2.917/100)

grouped_manaus_monthly_deforestation_df

,YEAR_NOTIF,MONTH_NOTIF,Amazonas_Total_Def_Area_km2,numPol,Amazonas_Total_Def_Area_ha,Manaus_Total_Def_Area_km2,Manaus_Total_Def_Area_ha
0,2017,1,8.57,30,857.0,0.249987,24.99869
1,2017,2,3.90,24,390.0,0.113763,11.37630
2,2017,3,1.27,5,127.0,0.037046,3.70459
3,2017,4,18.18,28,1818.0,0.530311,53.03106
4,2017,5,74.31,175,7431.0,2.167623,216.76227
5,2017,6,187.25,515,18725.0,5.462083,546.20825
6,2017,7,80.31,268,8031.0,2.342643,234.26427
7,2017,8,49.16,189,4916.0,1.433997,143.39972
8,2017,9,20.56,85,2056.0,0.599735,59.97352
9,2017,10,69.78,283,6978.0,2.035483,203.54826
10,2017,11,23.24,139,2324.0,0.677911,67.79108
11,2017,12,12.85,110,1285.0,0.374834,37.48345
12,2018,1,7.70,37,770.0,0.224609,22.46090
13,2018,2,0.18,2,18.0,0.005251,0.52506
14,2018,3,39.69,98,3969.0,1.157757,115.77573
15,2018,4,92.20,216,9220.0,2.689474,268.94740
16,2018,5,126.09,342,12609.0,3.678045,367.80453
17,2018,6,91.48,375,9148.0,2.668472,266.84716
18,2018,7,134.73,647,13473.0,3.930074,393.00741
19,2018,8,93.23,600,9323.0,2.719519,271.95191
20,2018,9,160.86,760,16086.0,4.692286,469.22862
21,2018,10,70.71,313,7071.0,2.062611,206.26107
22,2018,11,18.10,92,1810.0,0.527977,52.79770
23,2018,12,0.23,3,23.0,0.006709,0.67091
24,2019,1,8.19,63,819.0,0.238902,23.89023
25,2019,2,12.53,49,1253.0,0.365500,36.55001
26,2019,3,47.19,123,4719.0,1.376532,137.65323
27,2019,4,45.98,129,4598.0,1.341237,134.12366
28,2019,5,179.44,372,17944.0,5.234265,523.42648
29,2019,6,194.77,548,19477.0,5.681441,568.14409
30,2019,7,424.28,1551,42428.0,12.376248,1237.62476
31,2019,8,197.17,1121,19717.0,5.751449,575.14489
32,2019,9,174.73,948,17473.0,5.096874,509.68741
33,2019,10,42.12,248,4212.0,1.228640,122.86404
34,2019,11,23.40,138,2340.0,0.682578,68.25780
35,2019,12,7.58,57,758.0,0.221109,22.11086
36,2020,1,13.44,116,1344.0,0.392045,39.20448
37,2020,2,20.73,98,2073.0,0.604694,60.46941
38,2020,3,72.71,157,7271.0,2.120951,212.09507
39,2020,4,77.46,167,7746.0,2.259508,225.95082
40,2020,5,183.45,512,18345.0,5.351236,535.12365
41,2020,6,173.47,943,17347.0,5.060120,506.01199
42,2020,7,286.41,1519,28641.0,8.354580,835.45797
43,2020,8,220.16,1596,22016.0,6.422067,642.20672
44,2020,9,117.38,695,11738.0,3.423975,342.39746
45,2020,10,88.79,518,8879.0,2.590004,259.00043
46,2020,11,21.88,106,2188.0,0.638240,63.82396
47,2020,12,6.00,35,600.0,0.175020,17.50200
48,2021,1,5.86,24,586.0,0.170936,17.09362
49,2021,2,25.81,102,2581.0,0.752878,75.28777
50,2021,3,61.41,100,6141.0,1.791330,179.13297
51,2021,4,174.41,345,17441.0,5.087540,508.75397
52,2021,5,347.52,1137,34752.0,10.137158,1013.71584
53,2021,6,219.77,1036,21977.0,6.410691,641.06909
54,2021,7,432.52,2289,43252.0,12.616608,1261.66084
55,2021,8,202.46,1198,20246.0,5.905758,590.57582
56,2021,9,229.33,1147,22933.0,6.689556,668.95561
57,2021,10,116.27,496,11627.0,3.391596,339.15959
58,2021,11,9.60,59,960.0,0.280032,28.00320
59,2021,12,6.43,31,643.0,0.187563,18.75631