In [1]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt

In [14]:
amazonas_monthly_deforestation_df = pd.read_csv('deter_amazonas_deforestation_2015_2024.csv', delimiter=',')
amazonas_monthly_deforestation_df

     year  month    area  uf        className  numPol
0    2021      7    1.11  AM        MINERACAO      14
1    2015      8    1.96  AM        MINERACAO      15
2    2021      9    2.16  AM        MINERACAO      14
3    2024      1    0.64  AM        MINERACAO       6
4    2024     10    0.09  AM        MINERACAO       1
..    ...    ...     ...  ..              ...     ...
262  2024     10   22.74  AM  DESMATAMENTO_CR     134
263  2018      7  128.39  AM  DESMATAMENTO_CR     591
264  2018      1    6.65  AM  DESMATAMENTO_CR      30
265  2024      8   92.14  AM  DESMATAMENTO_CR     424
266  2019      5  167.28  AM  DESMATAMENTO_CR     309

[267 rows x 6 columns]

In [15]:
amazonas_monthly_deforestation_df.rename(columns={'year': 'YEAR_NOTIF', 'month': 'MONTH_NOTIF', 'area': 'Total', 'uf': 'UF'}, inplace=True)
amazonas_monthly_deforestation_df

     YEAR_NOTIF  MONTH_NOTIF   Total  UF        className  numPol
0          2021            7    1.11  AM        MINERACAO      14
1          2015            8    1.96  AM        MINERACAO      15
2          2021            9    2.16  AM        MINERACAO      14
3          2024            1    0.64  AM        MINERACAO       6
4          2024           10    0.09  AM        MINERACAO       1
..          ...          ...     ...  ..              ...     ...
262        2024           10   22.74  AM  DESMATAMENTO_CR     134
263        2018            7  128.39  AM  DESMATAMENTO_CR     591
264        2018            1    6.65  AM  DESMATAMENTO_CR      30
265        2024            8   92.14  AM  DESMATAMENTO_CR     424
266        2019            5  167.28  AM  DESMATAMENTO_CR     309

[267 rows x 6 columns]

In [16]:
amazonas_monthly_deforestation_df = amazonas_monthly_deforestation_df[(2017 <= amazonas_monthly_deforestation_df.get('YEAR_NOTIF')) &
                                                                      (amazonas_monthly_deforestation_df.get('YEAR_NOTIF') <= 2021)]
amazonas_monthly_deforestation_df = amazonas_monthly_deforestation_df.sort_values(['YEAR_NOTIF', 'MONTH_NOTIF'])
#amazonas_monthly_deforestation_df = amazonas_monthly_deforestation_df.sort_values('MONTH_NOTIF')
amazonas_monthly_deforestation_df

     YEAR_NOTIF  MONTH_NOTIF   Total  UF         className  numPol
176        2017            1    8.57  AM   DESMATAMENTO_CR      30
167        2017            2    3.90  AM   DESMATAMENTO_CR      24
160        2017            3    1.27  AM   DESMATAMENTO_CR       5
185        2017            4   18.18  AM   DESMATAMENTO_CR      28
33         2017            5    0.23  AM         MINERACAO       2
..          ...          ...     ...  ..               ...     ...
147        2021           10    0.45  AM  DESMATAMENTO_VEG       1
212        2021           10  113.19  AM   DESMATAMENTO_CR     472
209        2021           11    9.60  AM   DESMATAMENTO_CR      59
23         2021           12    0.18  AM         MINERACAO       2
207        2021           12    6.25  AM   DESMATAMENTO_CR      29

[140 rows x 6 columns]

In [20]:
grouped_amazonas_monthly_deforestation_df = amazonas_monthly_deforestation_df.groupby(['YEAR_NOTIF', 'MONTH_NOTIF']).sum().reset_index()
grouped_amazonas_monthly_deforestation_df

    YEAR_NOTIF  MONTH_NOTIF   Total  numPol
0         2017            1    8.57      30
1         2017            2    3.90      24
2         2017            3    1.27       5
3         2017            4   18.18      28
4         2017            5   74.31     175
5         2017            6  187.25     515
6         2017            7   80.31     268
7         2017            8   49.16     189
8         2017            9   20.56      85
9         2017           10   69.78     283
10        2017           11   23.24     139
11        2017           12   12.85     110
12        2018            1    7.70      37
13        2018            2    0.18       2
14        2018            3   39.69      98
15        2018            4   92.20     216
16        2018            5  126.09     342
17        2018            6   91.48     375
18        2018            7  134.73     647
19        2018            8   93.23     600
20        2018            9  160.86     760
21        2018           10   70.71     313
22        2018           11   18.10      92
23        2018           12    0.23       3
24        2019            1    8.19      63
25        2019            2   12.53      49
26        2019            3   47.19     123
27        2019            4   45.98     129
28        2019            5  179.44     372
29        2019            6  194.77     548
30        2019            7  424.28    1551
31        2019            8  197.17    1121
32        2019            9  174.73     948
33        2019           10   42.12     248
34        2019           11   23.40     138
35        2019           12    7.58      57
36        2020            1   13.44     116
37        2020            2   20.73      98
38        2020            3   72.71     157
39        2020            4   77.46     167
40        2020            5  183.45     512
41        2020            6  173.47     943
42        2020            7  286.41    1519
43        2020            8  220.16    1596
44        2020            9  117.38     695
45        2020           10   88.79     518
46        2020           11   21.88     106
47        2020           12    6.00      35
48        2021            1    5.86      24
49        2021            2   25.81     102
50        2021            3   61.41     100
51        2021            4  174.41     345
52        2021            5  347.52    1137
53        2021            6  219.77    1036
54        2021            7  432.52    2289
55        2021            8  202.46    1198
56        2021            9  229.33    1147
57        2021           10  116.27     496
58        2021           11    9.60      59
59        2021           12    6.43      31